<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <%- include('commonfile.html') %>
    <script>
        var isLogin = <%= isLogin %>;
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtr">
    <div class="page">
        <h1 class="tc">日报管理首页</h1>
        <div ng-if="!isLogin" ng-cloak>
            <button id="login" class="btn btn-success" ng-click="gotologin()">去登录页</button>
        </div>
        <div ng-if="isLogin" ng-cloak>
            <span>欢迎你<%- userName %></span><br>
            <button onclick="window.location.href = 'report'" class="btn btn-success">去报告页</button>
            <button ng-click="loginout()" class="btn btn-info">退出登录</button>
        </div>
    </div>
</body>
<script src="javascripts/index.js"></script>
</html>